<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui"
            class="com.sogeti.rental.ui.RentalPropertyView"
            id="com.sogeti.rental.ui.views.rentalView"
            name="Rental Property View"
            icon="icons/Rentals.png"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui"
            class="com.sogeti.rental.ui.RentalAgencyView"
            id="com.sogeti.rental.ui.views.rentalAgencyView"
            name="Rental Agency View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>

</plugin>
