<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui"
            class="com.sogeti.rental.ui.RentalPropertyView"
            id="com.sogeti.rental.ui.views.rentalView"
            name="Rental Property View"
            icon="icons/Rentals.png"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui"
            class="com.sogeti.rental.ui.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.views.rentalAgencyView"
            name="Rental Agency View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.sogeti.rental.preferences"
            class="com.sogeti.rental.ui.pref.RentalColorPreferences"
            id="com.sogeti.rental.ui.colorprefpage"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.RentalPrefInit">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="MyMenu">
            <command
                  commandId="com.sogeti.rental.ui.commands.displayCommand"
                  label="Hello World"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.views.rentalAgencyView?after=additions">
         <command
               commandId="com.sogeti.rental.ui.commands.displayCommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?before=additions">
         <command
               commandId="com.sogeti.rental.ui.commands.displayCommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:com.sogeti.rental.ui.views.rentalAgencyView?before=additions">
         <command
               commandId="com.sogeti.rental.ui.commands.displayCommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sogeti.rental.ui.views.rentalAgencyView?after=additions">
         <command
               commandId="com.sogeti.rental.ui.commands.displayCommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.sogeti.rental.ui.cmd.category"
            id="com.sogeti.rental.ui.commands.displayCommand"
            name="Display Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sogeti.rental.ui.handlers.DisplayHandler"
            commandId="com.sogeti.rental.ui.commands.displayCommand">
      </handler>
   </extension>

</plugin>
